html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------reset conde--------------*/

body{
    margin: 0 auto;
}
header{
    text-align: center;
    margin-top: 58px;
    margin-bottom: 53px;
}

img{
    width: 104px;
    height: 114px;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 271px);
}
#title{
    width: 1000px;
    height: 72px;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 24px;
    padding: 20px;
    font-weight: 600;
    box-sizing: border-box;
}
#writer{
    width: 283px;
    height: 40px;
    padding: 12px 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;

}
#content{
    width: 1000px;
    min-height: 439px;
    padding: 20px;
    margin-bottom: 48px;
    border: 5px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

#backtolist{
    text-decoration:none;
    color: black;
}
#button{
    display:flex;
    justify-content: space-between;
}

#button2{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 50px;
}
#update{
	width: 70px;
	height: 30px;
	border-radius: 20px;
	background-color: black;
	color: white;
	font-size: 14px;
	font-weight: 400;
}
#delete{
	width: 70px;
	height: 30px;
	border-radius: 20px;
	background-color: black;
	color: white;
	font-size: 14px;
	font-weight: 400;
}

button:hover{
	text-decoration: underline;
}
button:active{
    transform: translateY(4px);
}
footer{
    height: 31px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}